body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

* {
  color: #f6f6f6;
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  letter-spacing: 1px;
font-variant-caps: all-petite-caps;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #39374b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414157;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46465e;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
